In [1]:
import pandas as pd
pd.set_option('display.max_rows', 500)

In [ ]:
# set up dataframe

In [10]:
add_garter_tab(1)

    1
0   3
1   3
2   3
3   3
4   3
5   3
6   3
7   3
8   3
9   3
10  3
11  3

In [11]:
def add_garter_tab(section_num):
    section_df = pd.DataFrame(columns=[section_num])
    
    section_df.loc[0,:] = 3
    for x in range(1,12):
        section_df.loc[x,:] = 3
        
    section_df.loc[13,:] = 12
    section_df.loc[14,:] = 14
    
    return section_df

In [20]:
def setup_shawl(section_num):
    section_df = pd.DataFrame(columns=[section_num])
    section_df.loc[0:1]

SyntaxError: unexpected EOF while parsing (<ipython-input-20-c24eb0c37239>, line 1)

In [ ]:
def add_dropped_st():

In [ ]:
def add_wedge():

In [ ]:
def add_eyelet():

In [ ]:
def end_shawl():

In [18]:
total_df = pd.DataFrame()
# set up will be a bit manual
garter_col = add_garter_tab(1)
setup_col = setup_shawl(2)
temp_df3 = add_garter_tab(3)

In [19]:
pd.concat([temp_df, temp_df2, temp_df3], axis=1)

     1   2   3
0    3   3   3
1    3   3   3
2    3   3   3
3    3   3   3
4    3   3   3
5    3   3   3
6    3   3   3
7    3   3   3
8    3   3   3
9    3   3   3
10   3   3   3
11   3   3   3
13  12  12  12
14  14  14  14